.search-header {
  .search-img {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 69px;
    right: 444px;
  }
  input {
    width: 270px;
    height: 31px;
    border-radius: 10px;
    border: 1px solid #9d9d9d;
  }
}
.delete_search {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 71px;
  right: 173px;
  opacity: 0.3;

  &:hover {
    opacity: 0.8;
  }
}
