.footer {
  color: #000000;
  padding-top: 120px;
  p {
    font-size: 23px;
    font-weight: 600;
  }
  a {
    font-size: 20px;
  }
  li {
    list-style-type: none;
    padding-bottom: 15px;
  }
  .line_footer {
    background-color: #838383;
    height: 1.5px;
  }
}
