.news {
  .news_main_title {
    font-size: 28px;
    font-weight: 800;
    margin-top: 45px;
    margin-bottom: 55px;
  }
  .news_main_img {
    width: 1280px;
    height: 700px;
  }

  .news_text {
    font-size: 20px;
    padding-top: 20px;
  }
}
